:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  color: whitesmoke;
}

/***********************************
      -------- Reset --------
***********************************/

body,
html {
  background-color: #f1f1f1;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}
h1,
h2,
h3,
p {
  color: black;
}

/***********************************
-------- Mobile Navigation --------
***********************************/
@media only screen and (max-width: 768px) {
  /* Style the navigation menu */
  .navMenu {
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    z-index: 1;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  #links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgba(27, 120, 163, 0.9);
    margin-left: auto;
    height: 100%;
    width: 100%;
    font-size: 5vh;
  }
  #links > a {
    padding: 35px;
    margin-left: auto;
  }

  /* Style navigation menu links */
  .navMenu > a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    display: flex;
    margin-left: auto;
    align-content: center;
    width: fit-content;
    height: fit-content;
  }

  /* Style the hamburger menu */
  .navMenu a.icon {
    position: relative;
  }

  /* Add a grey background color on mouse-over */
  .navMenu a:hover {
    background-color: rgba(27, 120, 163, 0.5);
    color: black;
  }

  /* Style the active link (or home/logo) */
  .active {
    color: white;
  }
}

/***********************************
-------- Desktop Navigation --------
***********************************/

@media only screen and (min-width: 768px) {
  .navMenu {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    padding: 15px;
    background-color: rgba(27, 120, 163, 0.5);
    z-index: 1;
  }
  .navMenu > a {
    display: none;
  }
  .links {
    width: 480px;
    justify-content: center;
    align-items: center;
  }

  .links a {
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    justify-content: center;
    margin: 0 20px;
  }

  .navMenu a:hover {
    color: aqua;
  }

  .navMenu .dot {
    width: 6px;
    height: 6px;
    background: aqua;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  .navMenu a:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(46px);
    transform: translateX(46px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }

  .navMenu a:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(151px);
    transform: translateX(151px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }

  .navMenu a:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(261px);
    transform: translateX(261px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }

  .navMenu a:nth-child(4):hover ~ .dot {
    -webkit-transform: translateX(382px);
    transform: translateX(382px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
}
/***********************************
       -------- Body --------
***********************************/

.parallax {
  background-image: url(images/mountaintop.png);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: Center;
  background-attachment: fixed;
  filter: grayscale(0);
}
@media only screen and (max-width: 768px) {
  .parallax > div {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 14vh;
    padding-left: 3vh;
    width: fit-content;
    filter: grayscale(0);
  }
  .parallax > div > h1 {
    font-size: 5vh;
    color: white;
  }
  .parallax > div > p {
    padding: 1vh;
    font-size: 2vh;
    color: red;
  }
  .parallax > div > button {
    background-color: white;
    color: black;
    filter: none;
    padding: 1vw;
    border: 1px solid red;
    border-radius: 12px;
    width: 107px;
    font-size: 2vh;
    align-self: center;
  }

  .parallax > div > button:hover {
    background-color: navy;
    color: white;
  }
  .intro {
    display: block;
    padding: 25px;
  }
  .intro > .name > h1 {
    padding-left: 55px;
    padding-bottom: 20px;
  }
  .intro > div > p:first-child {
    padding-bottom: 15px;
  }
  .skills {
    display: flex;
    justify-content: center;
    padding: 25px;
    color: black;
  }
  .skills > div > h2 {
    text-align: center;
  }
  .skills p {
    flex-direction: column;
    padding-top: 60px;
  }
  .skills > div p a {
    margin-left: 10px;
    margin-right: 10px;
  }
  .skills p a img {
    transition: 1s ease;
  }
  .skills p a img:hover {
    transform: scale(1.75);
  }
  .interests {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .interests ul {
    padding-top: 15px;
  }
  .interests ul li {
    color: black;
    list-style: none;
    padding: 7px;
  }
  .socialIconDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .socialIconDiv > h3 {
    padding: 10px;
    display: block;
  }
  .socialIcons li {
    height: 30px;
    width: 30px;
    list-style: none;
    display: inline-block;
    margin: 15px;
  }
  .socialIcons li a svg {
    stroke: black;
  }
  .socialIcons li a svg:hover {
    stroke: aqua;
  }
  .myEmail {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .myEmail a {
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
    transition: 0.7s ease;
  }
  .myEmail a:hover {
    color: aqua;
    transform: scale(1.2);
  }
}

@media only screen and (min-width: 768px) {
  .parallax > div {
    position: relative;
    padding-top: 8vw;
    padding-left: 3vw;
  }
  .parallax > div > h1 {
    font-size: 5vw;
    color: white;
  }
  .parallax > div > p {
    padding: 1vw;
    font-size: 2vw;
    color: red;
  }
}
.parallax2 {
  background-image: url(images/flip.jpg);
  height: 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.parallax3 {
  background-image: url(images/sunrise.jpg);
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.parallax4 {
  background-image: url(images/mountaintop.png);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: Center;
  background-attachment: fixed;
  filter: grayscale(1);
}
/*.skills {
  display: flex;
  justify-content: center;
  padding: 40px;
  color: black;
}
.skills > div > h2 {
  text-align: center;
}
.skills p {
  flex-direction: column;
  align-content: center;
  padding-top: 60px;
}
.skills p a {
  padding: 60px;
  color: #272727;
}
.skills p a img {
  transition: 1s ease;
}
.skills p a img:hover {
  transform: scale(1.75);
}*/
/***********************************
-------- Connection Columns --------
***********************************/
@media only screen and (min-width: 768px) {
  .socialIconDiv {
    position: fixed;
    left: 40px;
    display: flex;
    flex-direction: column;
    height: 380px;
    align-items: center;
    bottom: 0;
  }
  .socialIcons li {
    height: 30px;
    width: 30px;
    margin: 20px 5px;
    list-style: none;
  }
  .socialIcons li a svg:hover {
    stroke: aqua;
  }
  .socialIconDiv > ul::after {
    content: "";
    display: block;
    width: 1px;
    height: 120px;
    margin-left: 20px;
    background-color: aqua;
    margin-bottom: 0;
    align-self: center;
  }

  .myEmail {
    position: fixed;
    right: 40px;
    display: flex;
    flex-direction: column;
    height: 320px;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
  }
  .myEmail a {
    writing-mode: vertical-rl;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    transition: 0.7s ease;
  }
  .myEmail a:hover {
    color: aqua;
    transform: scale(1.2);
  }
  .myEmail::after {
    content: "";
    display: block;
    width: 1px;
    height: 120px;
    margin-left: auto;
    background-color: aqua;
    margin-bottom: 0;
    align-self: center;
  }
}
